[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
Django = "==2.2.13"
django-admin-list-filter-dropdown = "==1.0.3"
django-admin-rangefilter = "==0.5.0"
"django-bootstrap4" = "*"
django-export-action = "==0.1.1"
django-phonenumber-field = "==4.0.0"
"psycopg2-binary" = "==2.8.5"
pytz = "==2020.1"
six = "*"

[dev-packages]
"Fabric3" = "*"
pylint = "*"
"autopep8" = "*"
