[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
Django = "==3.1.2"
django-admin-list-filter-dropdown = "==1.0.3"
django-admin-rangefilter = "==0.6.2"
django-auth-ldap = "==2.2.0"
django-bootstrap4 = "==2.2.0"
django-export-action = "==0.1.1"
psycopg2-binary = "==2.8.6"
pytz = "==2020.1"
six = "*"
wheel = "*"
django-hashers-passlib = "*"
django = "==3.1.2"

[dev-packages]
Fabric3 = "*"
pylint = "*"
autopep8 = "*"

[packages.django-phonenumber-field]
extras = [ "phonenumbers",]
version = "==4.0.0."
