[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3.6"

[packages]
Django = "==2.2.2"
django-admin-list-filter-dropdown = "==1.0.2"
django-admin-rangefilter = "==0.4.0"
"django-bootstrap4" = "*"
django-export-action = "==0.1.1"
django-phonenumber-field = "==3.0.1"
"psycopg2-binary" = "==2.8.3"
pytz = "==2019.1"
six = "*"

[dev-packages]
"Fabric3" = "*"
pylint = "*"
"autopep8" = "*"
