{% extends 'shipanaro/base.html' %}
{% load i18n bootstrap4 %}

{% block content %}
<div class="row">
  <div class="col-lg-9">
    <h2>Gràcies per unir-te a la tripulació!</h2>
		<p>Aviat ens posarem en contacte per completar el procés d'alta al Partit.</p>
		<p>Mentrestant, t'animem a explorar el nostre web a <a href="https://pirates.cat">pirates.cat</a></p>
		<p>Salut i rom!</p>
	</div>
	<!--div id="profile-actions" class="col-lg-3 mb-4 pt-3 bg-light">
		<button type="submit" class="btn btn-danger">{% trans 'Cancel membership' %}</button>
	</div-->
</div>
{% endblock %}
