{% extends 'shipanaro/base.html' %}
{% load i18n bootstrap4 %}
{% block content %}
{% if validlink %}
<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
<form method="post">
	{% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
	<button type="submit" class="btn btn-primary">{% trans 'Change my password' %}</button>
	{% endbuttons %}
</form>
{% else %}
<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}
{% endblock %}
